<div class="custom-navbar">
    <div class="navbar-wrapper">
        <nav class="navbar is-fixed-top py-2">
            <div class="navbar-brand">
                <div class="navbar-item ml-5">
                    <h1 class="has-text-secondary-1">JyL</h1>
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end mr-5">
                    <div class="navbar-item">
                        <a class="is-size-4 has-text-secondary-1">About</a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-size-4 has-text-secondary-1">Experiences</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
