<div class="experiences-section">
    <a class="anchor" id="experiences"></a>
    <section class="section has-background-secondary">
        <div class="container">
            <div class="columns py-5">
                <div class="column">
                    <div class="mb-5">
                        <h2 class="has-text-centered">Experiences</h2>
                    </div>
                    <div class="box p-5">
                        <h2 class="is-size-3 mb-5">Education</h2>

                        <h2 class="is-size-4">
                            University of Toronto,
                            <span class="is-size-5">Scarborough, Canada</span>
                        </h2>

                        <h2 class="is-size-6 is-italic mb-2">
                            Mathematics Major, Philosophy & Psychology Double
                            Minor
                        </h2>

                        <p class="mb-2">3rd Year</p>

                        <p>
                            Relevant Coursework: <a>Calculus 1 & 2</a>,
                            <a>Linear Algebra 1 & 2</a>,
                            <a>Discrete Mathematics</a>,
                            <a>Introduction to Probability</a>,
                            <a>Multivariable Calculus 1 & 2</a>,
                            <a>Introduction to Programming</a>,
                            <a>Reason & Truth</a>,
                            <a>Introduction to Ethics</a>,
                            <a>Theories of Mind</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
