<div class="experiences-section">
    <section class="section has-background-secondary">
        <div class="container">
            <div class="columns py-5">
                <div class="column">
                    <div class="mb-5">
                        <h2 class="has-text-centered">Experiences</h2>
                    </div>
                    <div class="box p-5">
                        <h2 class="is-size-3 mb-5">Education</h2>

                        <h2 class="is-size-4">
                            University of Toronto,
                            <span class="is-size-5">Scarborough, Canada</span>
                        </h2>

                        <h2 class="is-size-6 is-italic mb-2">
                            Specialist (Co-operative) program in Mathematics -
                            Teaching Stream
                        </h2>

                        <p class="mb-2">Cumulative GPA: 3.7+</p>

                        <p>
                            Relevant Coursework: <a>Calculus 1 & 2</a>,
                            <a>Linear Algebra 1 & 2</a>,
                            <a>Discrete Mathematics</a>,
                            <a>Introduction to Probability</a>,
                            <a>Abstract Algebra</a>,
                            <a>Theory of Computation</a>,
                            <a>Introduction to Programming</a>,
                            <a>Introduction to Topography</a>,
                            <a>Introduction to Nonlinear Dynamics and Chaos</a>
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="box p-5">
                        <h2 class="is-size-3 mb-5">Interests</h2>

                        <p>
                            Algebra, Amusements, Calculus, Combinatorics,
                            Complex Analysis, Constants and Numerical Sequences,
                            Differential Equations, Elliptic Functions,
                            Euclidean and Non-Euclidean Geometry, Fourier
                            Series, History, Logic and Philosophy, Mathematical
                            Physics, Number Theory, Probability, Quaternions,
                            Real Analysis, Technical Drawing, Trigonometry
                        </p>
                    </div>

                    <div class="box p-5">
                        <h2 class="is-size-3 mb-5">Skills</h2>

                        <p>
                            None
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
