<div class="about-section">
    <a class="anchor" id="about"></a>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image">
                        <img
                            src="https://download.logo.wine/logo/University_of_Toronto/University_of_Toronto-Logo.wine.png"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="column">
                    <h2 class="has-text-centered mb-5">About Me</h2>
                    <p class="has-text-centered">
                        Hello, my name is <strong>Joon Yeob Lee</strong>. I'm a
                        Third Year student at the
                        <strong>University of Toronto</strong> majoring in
                        <strong>Mathematics</strong> and
                        <strong>Philosophy</strong>. I'm interested in
                        <strong>Topology</strong>,
                        <strong>Real & Complex Analysis</strong>, and
                        <strong>Metaphysics</strong>. For fun I like to
                        <strong>Read</strong>, <strong>Workout</strong>,
                        <strong>Play the Guitar</strong>, and
                        <strong>Listen to Music</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
