<div class="custom-footer">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="has-text-secondary-1">JyL</h1>
                </div>
                <div class="column social">
                    <a
                        class="is-size-4"
                        href="https://www.linkedin.com/in/joon-yeob-lee-9760151aa/"
                        target="_blank"
                        >LinkedIn</a
                    >
                </div>
            </div>
        </div>
    </section>
</div>
