@import "../../styles/variables";

.custom-footer 
{
    .social 
    {
        @include from($tablet) 
        {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}
