<div class="hero-section">
    <section class="section has-background-primary">
        <div class="container">
            <div class="columns is-vcentered py-5 is-variable is-8">
                <div class="column is-7">
                    <h1 class="mb-5 has-text-centered">
                        Joon Yeob Lee
                    </h1>
                    <h4 class="is-size-5 has-text-centered">
                        Mathematics Major<br />Philosophy & Psychology Double
                        Minor @ UofT
                    </h4>
                </div>
                <div class="column">
                    <figure class="image is-square custom-width">
                        <img
                            src="./images/20191107_165356-removebg (1).png"
                            alt=""
                            class="is-custom-rounded has-background-white"
                        />
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
