<div class="hero-section">
    <section class="section has-background-primary">
        <div class="container">
            <div class="columns is-vcentered py-5">
                <div class="column is-narrow">
                    <h1 class="mb-4 has-text-centered">
                        Joon-Yeob Lee
                    </h1>
                    <h4 class="is-size-5 has-text-centered">
                        Mathematic Specialist @ UofT
                    </h4>
                </div>
                <div class="column">
                    <figure class="image is-16by9">
                        <!-- <img src="https://dummyimage.com/3200x1800/ffffff/000000
                        alt="" /> -->
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
